*.class
package/
target/
.gradle/
classes/
out/
client/modules/
server/modules/
.mtj.tmp/
*.war
*.ear
hs_err_pid*
.project
.metadata
bin/**
build/
**/logs/
deploy/
tmp/**
tmp/**/*
*.ks*
*.dat
*.db
*.txt
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.idea/
*.iml
jacoco-*.xml

