.root {
	-fx-font-size: 10.0pt;
	-fx-font-family: Verdana, sans-serif;
}

#iconfy, #maximize, #close, #userButton, #iconButton {
	-fx-padding: 5.0 16.0 5.0 16.0;
	-fx-border-color: #e2e2e2;
	-fx-border-width: 0.0;
	-fx-border-style: null;

	-fx-background-color: transparent;

	-fx-font-size: 10.0pt;
	-fx-text-fill: #d8d8d8;
}

#iconfy:hover, #maximize:hover, #close:hover, #userButton:hover, #iconButton:hover {
	-fx-background-color: rgb(150.0, 0.0, 0.0);
	-fx-background-insets: -1;
}

#iconfy:focused, #maximize:focused, #close:focused, #userButton:focused, #iconButton:focused {
	-fx-border-style: null;
}

#rootPane {
	-fx-background-color: #10202F;
	-fx-border-radius: 4.0;
	-fx-background-radius: 4.0;
	-fx-border-color: black;
	-fx-border-width: 1;
}

#mainPane {
	-fx-background-color: white;
	-fx-border-color: darkgrey;
	-fx-border-radius: 4.0;
	-fx-background-radius: 4.0;
}

#draggableTopPane {
	-fx-padding: 2 0 2 0;
}

#topLabel, #userLabel {
	-fx-font-size: 16.0px;
	-fx-font-style: oblique;
	-fx-text-fill: white;
}

#certificateQuestion {
	-fx-font-size: 20.0px;
}

.button {
	-fx-padding: 5 22 5 22;
	-fx-border-width: 1;
	-fx-border-color: #ffffff;
	-fx-background-radius: 4;
	-fx-background-insets: 0 0 0 0, 0, 1, 2;
	-fx-background-color: #cccccc;
	-fx-text-fill: black;
}

.button:hover {
	-fx-background-color: #d8d8d8;
}

.button:pressed, .button:default:hover:pressed {
	-fx-background-color: black;
	-fx-text-fill: white;
}

.button:focused {
	-fx-border-color: black;
	-fx-border-width: 1;
	-fx-border-style: segments(1, 1);
	-fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:disabled, .button:default:disabled {
	-fx-opacity: 0.4;
	-fx-background-color: #cccccc;
	-fx-text-fill: #212121;
}

.button:default {
	-fx-background-color: #008287;
	-fx-text-fill: #ffffff;
}

.button:default:hover {
	-fx-background-color: #219297;
}

.scroll-bar {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

/* The main scrollbar **track** CSS class  */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 0em;
	-fx-border-radius: 2em;
}

.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-insets: 0;
	-fx-background-radius: 2em;
}

/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
	-fx-background-color: transparent;
	-fx-background-radius: 0em;
	-fx-padding: 0 0 10 0;
}

/* The increment and decrement button CSS class of scrollbar */

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
	-fx-background-color: transparent;
	-fx-background-radius: 0em;
	-fx-padding: 0 10 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
	-fx-shape: " ";
	-fx-padding: 0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
	-fx-background-color: derive(black, 90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}

.scroll-bar .track-background {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.scroll-bar:disabled {
	-fx-opacity: 0.4;
}

/*******************************************************************************
 *                                                                             *
 * ScrollPane                                                                  *
 *                                                                             *
 ******************************************************************************/

.scroll-pane {
	-fx-background-color: transparent;
	-fx-border-radius: 4.0;
}

.scroll-pane .corner {
	-fx-background-color: transparent;
}

.scroll-pane .viewport {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-border-radius: 4.0;
}

/*******************************************************************************
 *                                                                             *
 * TextBox (and PasswordBox)                                                   *
 *                                                                             *
 ******************************************************************************/
.text-field {
	-fx-skin: "niobe.legion.client.gui.skin.MetroTextFieldSkin";
}

.text-input {
	-fx-background-radius: 4.0, 4.0;

	-fx-background-color: #bababa, white;
	-fx-background-insets: 0.0, 2.0;

	-fx-prompt-text-fill: #9f9f9f;

	-fx-highlight-fill: #008287;
	-fx-highlight-text-fill: white;
}

.text-input:hover {
	-fx-background-color: #8f8f8f, white;
}

.text-input:focused {
	-fx-background-color: #5c5c5c, white;

	-fx-text-fill: black;
}

/*.text-input > Pane{*/
/*-fx-padding: 0.333333em 0.583em 0.333333em 0em; *//* 4 7 4 0 */
/*}*/

.text-input .right-button {
	-fx-background-color: transparent;
	-fx-cursor: default;
	-fx-background-insets: -0.1666665em -0.3333333em -0.1666665em -0.3333333em;
}

.text-field .right-button .right-button-graphic {
	-fx-shape: "M221.738,305.873l6.135,6.16l-2.875,2.863l-6.135-6.159l-6.263,6.237l-2.864-2.875l6.263-6.238l-6.177-6.202l2.875-2.863l6.177,6.201l6.244-6.22l2.864,2.876L221.738,305.873z";

	-fx-padding: 0.5em 0.5em;
	-fx-background-color: black;
	-fx-background-radius: 4.0;
}

.text-input .right-button:hover {
	-fx-background-color: transparent;
}

.text-input .right-button:pressed {
	-fx-background-color: black;
	-fx-background-radius: 4.0;
}

.text-input .right-button:pressed .right-button-graphic {
	-fx-background-color: white;
}

.text-input:disabled {
	-fx-opacity: 1.0;
	-fx-background-color: #d9d9d9, #eaeaea;
	-fx-text-fill: #adadad;
}

.item-title.disabled {
	-fx-text-fill: #adadad;
}

/*******************************************************************************
 *                                                                             *
 * PasswordBox                                                                 *
 *                                                                             *
 ******************************************************************************/

.password-field {
	-fx-skin: "niobe.legion.client.gui.skin.MetroPasswordFieldSkin";
}

.password-field .right-button .right-button-graphic {
	-fx-shape: "M307.688,399.564c0,1.484-1.203,2.688-2.688,2.688c-1.484,0-2.688-1.203-2.688-2.688s1.203-2.688,2.688-2.688C306.484,396.876,307.688,398.08,307.688,399.564z M297.5,399h2.5c0,0,1.063-4,5-4c3.688,0,5,4,5,4h2.5c0,0-2.063-6.5-7.5-6.5C299,392.5,297.5,399,297.5,399z";
	-fx-scale-shape: false;
	-fx-background-color: black;
	-fx-background-radius: 4.0;
}

/*******************************************************************************
 *                                                                             *
 * ProgressBar                                                                 *
 *                                                                             *
 ******************************************************************************/
.progress-bar .bar {
	-fx-background-color: #008287;
	-fx-background-radius: 0.0;
	-fx-background-insets: 1.0;
}

.progress-bar .track {
	-fx-background-color: white;
	-fx-background-insets: 0.0;
	-fx-background-radius: 0.0;
}

/*******************************************************************************
 *                                                                             *
 * ProgressIndicator                                                           *
 *                                                                             *
 ******************************************************************************/
.progress-indicator {
	-fx-skin: "niobe.metro.skin.MetroProgressIndicatorSkin";
	-fx-indeterminate-segment-count: 5;
	-fx-progress-color: BLACK;
}

.progress-indicator:indeterminate .segment6 {
	-fx-shape: "M3.01 37.25 a3.5,3.5 0 1,1 0,1 Z";
}

/*******************************************************************************
 *                                                                             *
 * TableView, TreeView, TreeTableView                                          *
 *                                                                             *
 ******************************************************************************/
.table-cell, .tree-cell, .tree-table-cell {
	-fx-alignment: center-left;
}

.table-column, .tree-table-column {
	-fx-alignment: center-left;
}

/*******************************************************************************
 *                                                                             *
 * TabPane			                                                           *
 *                                                                             *
 ******************************************************************************/
.tab-pane > .tab-header-area > .tab-header-background {
	-fx-background-color: linear-gradient(transparent 0%, derive(-fx-text-box-border, 30%) 100%);
}

/*******************************************************************************
 *                                                                             *
 * TextArea			                                                           *
 *                                                                             *
 ******************************************************************************/
.text-area {
	-fx-border-radius: 4.0;
}

/*******************************************************************************
 *                                                                             *
 * TreeView, ListView, TreeTableView, TableView                                *
 *                                                                             *
 ******************************************************************************/
.tree-view, .list-view, .tree-table-view, .table-view {
	-fx-border-radius: 4.0;
}